@font-face {
    font-family: "Noto Sans SC";
    src: url("../../assets/font/NotoSansSC-Regular.otf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans SC";
    /* font-family: "Noto Sans SC-Medium, Noto Sans SC"; */
    box-sizing: border-box;
}

.el-dialog {
    display: flex;
    display: -ms-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    border-radius: 8px !important;
}

.el-dialog .el-dialog__body {
    max-height: 100%;
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.confirmBtn {
    padding: 20px 40px !important;
    font-size: 17px !important;
}

.el-input__inner {
    font-size: 18px !important;
}

.el-date-editor.el-input {
    width: 100% !important;
}

.el-input__wrapper {
    width: 100%;
}

.el-date-editor {
    width: 100% !important;
}

.input-line .el-select {
    width: 100%;
}

.input-line .el-input {
    font-size: 18px;
    width: 100% !important;
}

.flex-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}